{% extends 'base.html' %}

{% block content %}

	<div class="col-lg-6">
		<p>Сайт предоставляет возможность заносить все свои тайтлы в удобные списки, где вы всегда можете отслеживать всю необходимую для вас информацию. Для этого необходимо создать свой личный кабинет <br><br>
		Приятного использования!)</p>
	</div>

	<div class="col-lg-6">

		<form action="#">
		  <fieldset>
		    <legend>Создать новый аккаунт</legend>
		      <input id="name" placeholder="Ваш необычный nickname"><br>
		      <input id="email" placeholder="Введите e-mail"><br>
		      <input id="password" placeholder="Придумайте пароль"><br>
		      <input id="check_password" placeholder="Повторите пароль"><br>
		      <p><input type="submit" value="Отправить информацию"></p>
		  </fieldset>
		  
		</form>	

	</div>
{% endblock %}