{% extends 'base.html' %}

{% block content %}
	
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-sm-12">

					<table style="border-spacing: 20px 25px;  border-collapse: separate !important; text-align: center;">
						<tr><th>Тип: </th><td>{{ serial.type_serial }}</td></tr>
						<tr>
							<th>Название:</th><td>{{ serial.title }}</td>
						</tr>

						<tr>
							<th>Страна:</th><td>{{ serial.country_serial }}</td>
						</tr>

						<tr>
							<th>Эмоционально:</th><td>{{ serial.emotional_heaviness }}</td>
						</tr>

						<tr>
						<th>Жанры:</th>
						<td>
						{% for genre in serial.genre_film.all %}
							{{genre}}<br>
						{% endfor %}
						</td>
						</tr>

						<tr>
							<th>Ссылка</th>
							<td><a href="{{ serial.link }}"><em>*жмяк*</em></td>
						</tr>					

						<form method="GET" action="{% url 'serial_edit' serial.id %}">
					        {% csrf_token %}

					        <tr>
					        	<th>Lastserie</th>
					        	<td><input type="number" name="last_serie" value="{{serial.last_serie}}" style="width: 60%; text-align:center;" /></td>
					        </tr>

					        <tr>
					            <th>Статус:</th>
					            <td>
					            	<select name="status">
					            		<option value={{ serial.status }}>{{ serial.status }}</option>
										{% for st in status_variant %}
											{% if st != serial.status %}
											<option value={{st}}>{{st}}</option>
											{% endif %}
										{% endfor %}
									</select>
					            </td>	
					        </tr>
					        <tr>
					        	<td colspan="2"><input type="submit" value="Сохранить" ></td>
					        </tr>
				    	</form>
							
					</table>

				</div>
			</div>
		</div>
	</div>

{% endblock %}